include COPYING
include INSTALL
include NEWS
include README.txt
include THANKS
include UPGRADING
include requirements.txt
include config/*
include pyzor/*
include pyzor/engines/*
include pyzor/hacks/*
include scripts/*

