[Unit]
Description=pyzord-daemon

[Service]
Type=simple
WorkingDirectory=/run/pyzor
Environment=/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
ExecCondition=test -x /home/pyzor/env/bin/pyzord
PIDFile=/home/pyzor/.pyzor/pyzord.pid
User=pyzor
ExecStart=start-stop-daemon --start --pidfile /home/pyzor/.pyzor/pyzord.pid \
       -c pyzor --startas /home/pyzor/env/bin/pyzord -- -e mysql --homedir=/home/pyzor/.pyzor/ \
        --detach /home/pyzor/pyzord.err
ExecReload=start-stop-daemon --stop -c pyzor --pidfile /home/pyzor/.pyzor/pyzord.pid --signal USR1 
ExecStop=start-stop-daemon --stop -c pyzor --pidfile /home/pyzor/.pyzor/pyzord.pid

[Install]
WantedBy=multi-user.target